<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/students/add" method="POST">
        <input type="text" placeholder="Naam" name="naam">
        <input type="date" name="geboortedatum">
        <input type="text" placeholder="Studierichting" name="studierichting">
        <button type="submit">Add</button></br>
        <a href="/students">Go back</a>
    </form>
</body>

</html>