<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% students.forEach(student => { %> 
    <ul>
        <li>naam: <%=  student.naam%></li>
        <li>geboortedatum: <%=  student.geboortedatum%></li>
        <li>studierichting: <%=  student.studierichting%></li>
    </ul>
    <% }) %>
    <a href="/products/add">Add products</a></br>
    <a href="/products/delete">Delete products</a></br>
    <a href="/products/search">Search products</a>
</body>
</html>